<%- include('partials/head') %>

    <%- include('partials/nav') %>

    <div class="container" style="height: 100vh;">
        <h1 class="display-5 fw-bold lh-1 mt-5 mb-3">Here's your cover letter.</h1>
        <div class="row mt-5">
            <div class="col-md-4">
                <form action="/start" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= response.name %>">
                      </div>
                      <div class="mb-3">
                        <label for="title" class="form-label">Job Title</label>
                        <input type="text" class="form-control" id="title" name="job" value="<%= response.job %>">
                      </div>
                      <div class="mb-3">
                        <label for="job" class="form-label">Job Listing</label>
                        <textarea class="form-control" id="job" rows="7" name="listing"><%= response.listing %></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="resume" class="form-label">Resume</label>
                        <textarea class="form-control" id="resume" rows="7" name="resume"><%= response.resume %></textarea>
                      </div>



                    <button class="btn btn-primary" id="submit">Generate</button>
                </form>
            </div>
            <div class="col-md-8">
                <label for="output" class="form-label">Output</label>
                <textarea class="form-control" id="output" rows="25" readonly><%= response.output %> </textarea>
            </div>

        </div>
    </div>



    <%- include('partials/footer') %>